/* DESKTOP STYLESHEET */

/*BEGIN STYLE RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
/* END STYLE RESET */	

/*BEGIN CONTENT */
#container {
	width: 100%;
	height: 100%;

	}
	
.content_container {
float: left;
	width: 65%;
	font-family: Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
	margin-left: 18em;
	margin-top: 8em;
	margin-right: 32.5%;
	float: left;
	width: 65%;
	font-family: Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
	background: -moz-linear-gradient(top, #033E6B 0%, #467DA6 50%, #033E6B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#033E6B), color-stop(50%,#467DA6), color-stop(100%,#033E6B));
	background: -webkit-linear-gradient(top, #033E6B 0%,#467DA6 50%,#033E6B 100%);
	background: -o-linear-gradient(top, #033E6B 0%,#467DA6 50%,#033E6B 100%);
	background: linear-gradient(to bottom, #033E6B 0%,#467DA6 50%,#033E6B 100%);
	-webkit-border-radius: 25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius: 25px; 
	-moz-box-shadow:0px 0px 10px gray;
	-o-box-shadow:0px 0px 10px gray;
	-webkit-box-shadow:0px 0px 10px gray;
	box-shadow:0px 0px 10px #gray;
	}
	
	.content_header
{
	font-size: 2em;
	display: block;
	margin: 2em 0 0 0%;
	color: #ffffff;
	text-shadow: 4px 2px #000000;
	}
	
/* BEGIN TITLE BANNER */
#banner {
position: fixed;
	height: 6em;
	margin-left: 0%;
	width: 1920px;
	}
	#banner_container {
	width: 1920px;
	overflow: hidden;
	}
	#page_color
	{background-color:#1a2830;
	}
	
/* END TITLE BANNER */

/* BEGIN NAVIGATON BAR */
nav {
	position: fixed;
	top: 6em;
	width: 15em;
	height: 100%;
	padding: 0%;
	list-style: none; 
	background-color: #1C5783;
	background: -webkit-linear-gradient(#033E6B, #467DA6);
	background: -moz-linear-gradient(#033E6B, #467DA6);
	background: -linear-gradient(#033E6B, #467DA6);
	background: -ms-linear-gradient(#033E6B, #467DA6);
	font-family: Helvetica, Arial, Verdana, sans-serif;
	}


nav li {

	list-style: none;
	margin: 0 0 0 0;
		}

nav li a {
    text-shadow: 4px 2px #000000;
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
		}

	
#contact {
	position: absolute; bottom: 27%; left: 15%; right: 18%;
	font-weight: bold;
	text-align: center;
	font-size: .8em;
		}
#map
{
position: absolute;
bottom: 15%;
left: 30%;
}
/* END NAVIGATION BAR */
#content{
		width: 80%;
		float: right;
		border: 1px solid red;
		}
		
#wrapper {
	margin: 2em 10% 0% 10%;
	width: 80%;
	text-align: center;
	display:inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;

}
#mobile_intro {
	display: none;
	}
#desktop_image {
	margin: 4em 10% 0% 10%;
	width: 80%;
	text-align: left;
	display:inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 1em;
	padding-left: 5%;
		}
		
#why_sign {
	width: 20%;
	height: 3em;
	float:left; /* add this */
	overflow: hidden;
	text-overflow: clip;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #1C5783;
	margin: 0% 5% 0% 30%;
	padding-top: 5%;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	}
	
.desktop_images
{
    width: 30%;
	height: 5em;
	float:left; /* add this */
	overflow: hidden;
	text-overflow: clip;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #1C5783;
	margin: 0% 1% 0% 1%;
	}
	
.desktop_subtext
{
    width: 30%;
	height: 3em;
	float:left; /* add this */
	overflow: hidden;
	text-overflow: clip;
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #1C5783;
	margin: 0% 1% 0% 1%;
	line-height: 3em;
	
	
	}
	
.subtext {
margin: 0 10% 0% 10%;
	width: 80%;
	height: auto;
	text-align: center;
	display:inline-block;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	}
	
#homepage_benefit1
	{
	margin: 0% 5% 0% 5%;
	}
	
#why_signup {
	width: 80%;
	margin: 0 10% 0 10%;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
	}
	
/*BEGIN SIGN UP BUTTON*/	

#signup {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
	height: 3em;
	width: 50%;
	overflow: hidden;
	text-overflow: clip;
	border-radius: 1em;
	background-color: green;
	font-size: 0.8em;
	margin: 2em 25% 0 25%;
	line-height: 3em;
	background: -webkit-linear-gradient(#2FE02F, #20A820, #2FE02F);
	background: -moz-linear-gradient(#2FE02F, #20A820, #2FE02F);
	background: -linear-gradient(#2FE02F, #20A820, #2FE02F);
	}
/*END SIGN UP BUTTON*/



	
/* BEGIN TIME PICKER */

#appointment {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
	text-align: center;
	height: 3em;
	width: 20%;
	overflow: hidden;
	text-overflow: clip;
	border-radius: 1em;
	background-color: green;
	font-size: 0.7em;
	margin: 5% 35% 0 42%;
	line-height: 3em;
	background: -webkit-linear-gradient(#2FE02F, #20A820, #2FE02F);
	background: -moz-linear-gradient(#2FE02F, #20A820, #2FE02F);
	background: -linear-gradient(#2FE02F, #20A820, #2FE02F);
	}
	
/* END TIME PICKER */	
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #ffffff;
	}
	
/* BEGIN DOCTOR_INFO*/



	
#about_us_doctor
{
	
	margin: 2em 0 0em 0em;
	float: left;
	width: 13em;
}

#doctor_description
{
-moz-box-shadow:0px 0px 10px gray;
-webkit-box-shadow:0px 0px 10px gray;
-o-box-shadow:0px 0px 10px gray;
box-shadow:0px 0px 10px #gray;
background-color:#8fc2e9;
-moz-border-radius:25px;
-o-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
background: -moz-linear-gradient(top, #8fc2e9 0%, #c0ddf4 50%, #8fc2e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc2e9), color-stop(50%,#c0ddf4), color-stop(100%,#8fc2e9));
background: -webkit-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: -o-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: linear-gradient(to bottom, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
margin: .5em 1em 5em 1em;
padding:.5em .5em .5em .5em;

text-transform: none;
text-align: left;
font-family: Helvetica, Arial, Verdana, sans-serif;
font-weight: normal;
line-height: normal;
margin: 2em 3% 0 14em;
	
	
}

#team_container_position {
	margin: 0 10% 0 0;
		}

.team_member {
	width: 10em;
	margin: 1em 4.5em 0 0;
	display: inline-block;
	}
	
.member_picture {
	height: 20em;
	width: 15em;
	margin: 1em 10% 0 10%;

	}
	
.team_subtext {
width: 12em;
font-weight: normal;
line-height: normal;
margin: 1em 5% 1em 30%;
color: #ffffff;
	}
	
/* END DOCTOR_INFO */


/* BEGIN SERVICES */

#services_header {
	font-size: 2em;
	display: block;
	margin: 1em 0 0 0;
		}
	

		
.service_picture {
	float: left;
	height: 13em;
	width: 13em;
	margin: 1em 0 0 5%;

	}
		
.service_subtext {
width: 12em;
font-weight: normal;
line-height: normal;
margin: 1em 8% 1em 8%;
color: #ffffff;
	}
	
.services {

	width: 15em;
	margin: 3em 0 2em 0;
	display: inline-block;
	
	
	}

/* END SERVICES */

/*BEGIN LOGIN */


.login_header
{
	font-size: 2em;
	display: block;
	margin-top: .5em;
	}
	
.form {
	width: 40%;
	margin: .5em .5em .5em .5em;
	padding: .5em .5em .5em .5em;
	}
	
.submit {
	
	width: 20%;
	}

/* END LOGIN */

/* BEGIN TIME PICKER STYLE */
.container_buttons{
height:auto;
width:60%;
margin-left:auto;
padding-left:2%;
padding-top:1em;
padding-bottom:.5em;
padding-right:2%;
margin-right:auto;
/*min-width:20em;
max-width:60%;*/
min-height:15em;
-moz-box-shadow:0px 0px 10px gray;
-webkit-box-shadow:0px 0px 10px gray;
-o-box-shadow:0px 0px 10px gray;
box-shadow:0px 0px 10px #gray;
background-color:#8fc2e9;

background: -moz-linear-gradient(top, #8fc2e9 0%, #c0ddf4 50%, #8fc2e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc2e9), color-stop(50%,#c0ddf4), color-stop(100%,#8fc2e9));
background: -webkit-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: -o-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: linear-gradient(to bottom, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);


overflow:hidden;
}

/* Schedule appointment begin*/

/*	.contentButtonDiv
{
   width: auto;
   min-width: 20%;
   max-width:45%;
}
*/


/* Schedule appointment end*/

.container_buttons_change{
height:0px;
width:0px;
overflow:hidden;
						
}
			
.contentcalendar{
float:left;
}

.contentbutton{
float:right;
}
.divcontent{
padding-top:5em;

}

.submitbtn{
padding-top:.5%;
margin-left:auto;
padding-left:auto;
padding-bottom:1em;
}


.datepickerclass{
height:20em;
display: inline;
}

.buttoncontain{
padding-top:.5em;
}

/*Acct info classes */

.AcctInfo{

	position:center;
	text-indent:0;
	border:1px solid #8fc2e9;
	color:#ffffff;
	

	margin-left:auto;
	margin-right:auto;
	min-height:1.5em;
	
	height:5em;
	line-height:30px;
	width:60%;
	padding-top:3em;
	padding-left:2;
	padding-right:0%;
	padding-bottom:.5em;
	
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	font-family:Arial Black;
	font-size:1em;
	font-weight:bold;
	font-style:normal;
							
	background: -moz-linear-gradient(top, #8fc2e9 0%, #c0ddf4 50%, #8fc2e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc2e9), color-stop(50%,#c0ddf4), color-stop(100%,#8fc2e9));
	background: -webkit-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
	background: -o-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
	background: linear-gradient(to bottom, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);

	-moz-box-shadow:0px 0px 10px gray;
	-o-box-shadow:0px 0px 10px gray;
	-webkit-box-shadow:0px 0px 10px gray;
	box-shadow:0px 0px 10px #gray;



}
.AcctInfo_change{
height:0px;
width:0px;
overflow:hidden;
}
#inlineblocks{
display: inline;
}

/* BEGIN LOGOUT BUTTON */
.logout_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	height:1.5em;
	width: 10em;
	margin: 2em 1em 0 1.75em;
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
}
.logout_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
	}
.logout_button:active {
	position:relative;
	top:1px;
	}

/*END LOGOUT BUTTON */

/*Slide Button Styles */
.ButtonSlide {

-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
box-shadow:inset 0px 1px 0px 0px #dcecfb;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
background-color:#bddbfa;


-moz-box-shadow:0px 0px 10px gray;
-o-box-shadow:0px 0px 10px gray;
-webkit-box-shadow:0px 0px 10px gray;
box-shadow:0px 0px 10px #gray;


border:1px solid #84bbf3;
display:inline-block;
color:#000000;

font-family:Arial;
font-size:1.25em;
font-weight:bold;
font-style:normal;

height:6em;
margin-top:.5em;
line-height:1.5em;
width:65%;
text-shadow:1px 1px 0px #528ecc;

margin-left:auto;
margin-right: auto;
padding-left:2%;
padding-top:1em;
padding-bottom:.5em;
min-width:15em;


}
.ButtonSlide:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
background-color:#80b5ea;
}

/* END TIME PICKER STYLE */
/* BEGIN FOOTER */	
#footer_mobile {
 display: none;
	}

#footer_desktop {
	margin: 3% 25% 3% 25%;
	width: 50%;
	text-align: center;
	display:inline-block;
	}
	
/* END FOOTER */

/* BEGIN HIDDEN ELEMENTS */

      #whysign {
	-moz-box-shadow:0px 0px 10px gray;
-webkit-box-shadow:0px 0px 10px gray;
-o-box-shadow:0px 0px 10px gray;
box-shadow:0px 0px 10px #gray;
background-color:#8fc2e9;
-moz-border-radius:25px;
-o-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
background: -moz-linear-gradient(top, #8fc2e9 0%, #c0ddf4 50%, #8fc2e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fc2e9), color-stop(50%,#c0ddf4), color-stop(100%,#8fc2e9));
background: -webkit-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: -o-linear-gradient(top, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
background: linear-gradient(to bottom, #8fc2e9 0%,#c0ddf4 50%,#8fc2e9 100%);
margin: .5em 1em 5em 1em;
padding:0 .5em .5em 2.5em;
width: 80%;
margin: 2% 10% 0 7.5%;
color: #000000;
line-height: normal;
font-size: 80%;
text-align:left;
	}
	ul.benefit_list 
	{
	list-style-type: circle;
	}

#logout_button_mobile{
	display: none;
		}

/* END HIDDEN ELEMENTS */

/* BEGIN TEXT BOX RADIUS */
.formText
	{
			-webkit-border-radius: 25px; //For Safari, etc.
			-moz-border-radius: 25px; //For Mozilla, etc.
			 border-radius: 25px; //CSS3 Feature
			 border: 0px solid;
			 width: 40%;
			 min-width:40%;
			 line-height:2em;
			 margin:.5em .5em .5em .5em;
	}	
	
/* END TEXT BOX RADIUS */
