/* TABLET STYLESHEET */

body {font-size: 100%
		}
nav {
	position: fixed;
	width: 20%;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none; 
	background-color: #1C5783;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
		}
nav li {
	
	list-style: none;
	margin: 0 0 0 -.75em;	
		}
	
nav li a {
	display: block;
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	
		}
		
#contact {
	position: fixed; bottom: 0; left: 7%;
	font-weight: bold;
	text-align: center;
		}
